-e src
absl-py==0.11.0
anyio==2.1.0
argon2-cffi==20.1.0
asn1crypto==0.24.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
bleach==3.3.0
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
contextvars==2.4
cryptography==2.1.4
cycler==0.10.0
Cython==0.29.21
dask==2021.2.0
dataclasses==0.8
datasets==1.3.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
distributed==2021.2.0
dnspython==2.1.0
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
fsspec==0.8.5
gitdb==4.0.5
GitPython==3.1.13
google-auth==1.27.0
google-auth-oauthlib==0.4.2
graphviz==0.16
grpcio==1.35.0
h5py==3.1.0
HeapDict==1.0.1
hiddenlayer==0.3
huggingface-hub==0.0.2
idna==2.10
immutables==0.15
importlib-metadata==3.4.0
intel-openmp==2021.1.2
ipykernel==5.5.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
json5==0.9.5
jsonpickle==1.5.2
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyter-server==1.4.0
jupyterlab==3.0.8
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
mkl==2021.1.1
msgpack==1.0.2
multiprocess==0.70.11.1
munch==2.5.0
nbclassic==0.2.6
nbclient==0.5.2
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.2.0
numpy==1.19.5
oauthlib==3.1.0
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pip==20.3.3
prometheus-client==0.9.0
prompt-toolkit==3.0.16
protobuf==3.15.0
psutil==5.8.0
ptyprocess==0.7.0
py-cpuinfo==7.0.0
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
Pygments==2.8.0
pygobject==3.26.1
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
pyxdg==0.25
PyYAML==5.4.1
pyzmq==22.0.3
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.1
sacred==0.8.2
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.1
SecretStorage==2.3.1
Send2Trash==1.5.0
sentencepiece==0.1.95
setuptools==53.0.0
six==1.11.0
sklearn
smmap==3.0.5
sniffio==1.2.0
sortedcontainers==2.3.0
tbb==2021.1.1
tblib==1.7.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
terminado==0.9.2
testpath==0.4.4
threadpoolctl==2.1.0
tokenizers==0.9.2
toolz==0.11.1
torch==1.7.1
torchsummary==1.5.1
tornado==6.1
tqdm==4.49.0
traitlets==4.3.3
transformers==3.4.0
typing-extensions==3.7.4.3
urllib3==1.26.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
wheel==0.30.0
widgetsnbextension==3.5.1
wrapt==1.12.1
xxhash==2.0.0
zict==2.0.0
zipp==3.4.0
